{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
//  "extends": "airbnb",
  "rules": {
    "func-names": 0,
    "no-new": 0,
    "no-use-before-define": 0,
    "no-script-url": 0,
    "no-alert": 0,
    "no-console": 0,
    "prefer-arrow-callback": 0,
    "arrow-body-style": 0,
    "comma-dangle": 1,
    "quotes": [ 1, "single" ],
    "no-undef": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
//    "react/jsx-uses-react": 1,
//    "react/jsx-uses-vars": 1,
    "no-var": 1
  },
  "globals": {
  }
}
